ion-badge {
    position: absolute; 
    font-size: 8pt;
    right: -5px;
    top: -3px; 
}

ion-button {
    margin: 5px;
    width: 40px;
    height: 40px;
    position: relative;
    // overflow: visible!important;
}

/* Setting Overflow Visible */
ion-button.custom-class::part(native) {
    overflow: visible;
}