<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/icon/locate.png" />
      <h1 style="font:bold ;">Lacate</h1>
      <h6 style="font-weight:300;">Locate sports & activities near you!</h6>
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/join.png" />
      <h1 style="font:bold;">Join</h1>
      <h6 style="font-weight:300;">Request to join the sport ,activity or individual.</h6>
    </ion-slide>
    <ion-slide>
      <img src="assets/icon/play.png" />
      <h1 style="font: bold;">Play</h1>
      <h6 style="font-weight:300;"> Once accepted, join in on the game/activity.</h6>
      <ion-button (click)="go()" color="primary">Lets Get Started!</ion-button>

    </ion-slide>
  </ion-slides>
</ion-content>